*

!/.gitattributes
!/.dockerignore
!/.editorconfig
!/deps.Dockerfile
!/docker-compose
!/go.mod
!/go.sum
!/Makefile
!/WORKSPACE
!/BUILD.bazel

!*.md

!pkg/
!pkg/**/
!pkg/**/*.go

!cmd/
!cmd/**/
!cmd/**/*.go

!api/
!api/**/
!api/**/*
