*

!/.gitattributes
!/.dockerignore
!/.editorconfig
!/deps.Dockerfile
!/docker-compose
!/go.mod
!/go.sum
!/Makefile
!/WORKSPACE
!/BUILD.bazel

!*.md

!pkg/
!pkg/**/
!pkg/**/*.go
!pkg/**/*.bazel

!cmd/
!cmd/**/
!cmd/**/*.go
!cmd/**/*.bazel

!api/
!api/**/
!api/**/*
